{% extends 'partials/base.html.twig' %}

{% block content %}
   <div class="mx-auto">
      <section class="pt-8 md:pt-8 px-4 block program">
         <h1 class="text-center mb-8 md:mb-16">Bylo</h1>
         <div class="text-center mb-8 md:mb-16" id="swup4">
            <ul class="list-reset flex justify-center transition-fade">
               {% for p in page.parent.children %}
                  <li class="">
                     <a data-swup-transition="full{{p.menu}}" href="{{ p.url }}" class="{% if p.active %} underline {% else %}no-underline {% endif %} text-white transition hover:text-secondary p-4 text-lg md:text-3xl cutive">{{ p.menu }}</a>
                  </li>
               {% endfor %}
            </ul>
         </div>

         <div class="bylo__items lg:w-4/5 mx-auto   transition2-fade">

            {#   <div class="text-6xl mb-8 test text-center md:text-left" id="swup3">#}
            {#      <div>{{header.title}}</div>#}
            {#   </div>#}
               <div class="bylo__text text-secondary md:w-full" id="swup2"> <p>
                  {{header.text|markdown}}</p>
            </div>
         </div>
      </section>
   </div>
   <div class="flex flex-wrap m-2 justify-center" id="swup4">
      {% for day in page.header.days %}
         <div class="w-full lg:w-1/2 flex">
            <div class="m-4 p-4 lg:p-8 bg-primary border border-solid nice-border flex-1" style="background-image:linear-gradient(rgba(14,40,77,0.7), rgba(14,40,77,0.9)),url('{% for image in day.image %}/{{ image.path}}{% endfor %}'); background-size:cover;background-position: center center;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      ">
               <div class="text-lg md:text-2xl text-secondary">{{day.title}}</div>
               <div class="text-2xl md:text-5xl mt-2 mb-4 md:mb-8">{{day.place}}</div>

               {#  {% for image in day.image %} #}
               {#  {{ dump(image) }} #}
               {#  {{ page.media[image.name] }} #}
               {# {% endfor %} #}

                  {% for item in day.items %}
                     <div class="text-secondary list-reset2 mt-4"> {{item.hour}}
                     |
                     {{item.name}}</div>
               {% endfor %}

            </div>
         </div>
      {% endfor %}

      <div class="w-full lg:w-1/2 flex flex-wrap">
         {% if page.parent.children.nextSibling(page.path).path %}
            <div class="m-4 p-4 lg:p-8 bg-primary border border-solid  flex justify-center items-center flex-1 " style="background-image:linear-gradient(rgba(14,40,77,0.7), rgba(14,40,77,0.9)),url('{% for image in day.image %}/{{ image.path}}{% endfor %}'); background-size:cover;background-position: center center;">
               <a class=" {% if p.active %} text-secondary {% else %} text-white {% endif %} no-underline transition hover:text-secondary p-4 text-3xl" data-swup-transition=" full{{ page.parent.children.nextSibling(page.path).slug }} " href=" {{ page.parent.children.nextSibling(page.path).route }} ">
                  &lt;  Předchozí rok</a>
            </div>
         {% endif %}

         {% if page.parent.children.prevSibling(page.path).path %}
            <div class="m-4 p-4 lg:p-8 bg-primary border border-solid  flex justify-center items-center flex-1 " style="background-image:linear-gradient(rgba(14,40,77,0.7), rgba(14,40,77,0.9)),url('{% for image in day.image %}/{{ image.path}}{% endfor %}'); background-size:cover;background-position: center center;">
               <a class=" {% if p.active %} text-secondary {% else %} text-white {% endif %} no-underline transition hover:text-secondary p-4 text-3xl" data-swup-transition=" full{{ page.parent.children.prevSibling(page.path).slug }} " href=" {{ page.parent.children.prevSibling(page.path).route }} ">
                  Následující rok &gt;
               </a>
            </div>
         {% endif %}

      </div>
   </div>
{% endblock %}
